* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: 0;
}

.animated-background {
	height: 100vh;
	width: 100%;
	background: linear-gradient(to right, #d73d6c, #005f89, #fcb045);
	background-size: 400%;
	animation: animate-background 10s infinite ease-in-out;

	display: flex;
}

button{
	margin: auto;
    padding: 10px 15px;
    border-radius: 4px;
    background: white;
    border: 1px solid #ddd;
    cursor: pointer;
	transition: ease-in .3s;
}
button:hover{
	background: rgba(255, 255, 255, .8);
}

@keyframes animate-background {
	0%,
	100% {
		background-position: 0 50%;
	}

	50% {
		background-position: 100% 50%;
	}
}